
html {
  background: #fbfdfd;
}

body {
  background: #fbfdfd;
  font-family: "HK Grotesk";
  color: #2f4f4f;
  overflow-x: hidden;
  z-index: -2;
  font-size: 10px;
  text-align: left;
}

body p {
  font-family: "HK Grotesk";
  font-weight: 500;
  color: #2f4f4f;
  font-size: 21px;
}

section p{
  font-family: 'Crimson Text', serif;
  font-size: 24px;
  margin-top:2rem;
}


a {
  color: #2f4f4f;
  font-family: "Helvetica", sans-serif;
  font-size: 18px;
  font-weight: 700;
  align-items:flex-start;
}

a.active {
  color: #ff6346;
  font-family: "Helvetica", sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-decoration: underline;
}

a:hover:not(.active) {
  color: #ff6346;
  align-items: baseline;

}

.nav {
  top: 0;
  z-index: 9999;
}

.nav-link {
  font-family: "Helvetica", sans-serif;
  font-size: 18px;
  font-weight: 700;
}

#head{
  margin:1rem;
}

.chart {
  cursor: pointer;
  /* border:1px solid black; */
  width:100%;
  padding:1rem;
  margin-bottom:1rem;
}




h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0.5rem;
  font-family: "HK Grotesk", sans-serif;
  font-weight: 400;
}

h1 {
  font-size: 5rem;
  line-height: 0.9;
  font-family: "Crimson text";
  margin-bottom: 1rem;
  font-weight: 700;

}

h2 {
  font-size: 3rem;
  font-family: "Crimson text"
}

h6 {
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 0;
}

hr {
  margin: 2rem 0;
}

::selection {
  background: #ff6346;
  color: #fff;
}

#intro{
  margin:5rem;
  width:90%;
  align-content: center;
  height:auto;
}

#intro p{
  font-family: 'Crimson Text', serif;
  font-size: 24px;
}


#stream .layer{
  cursor: pointer;
}

/* #sections {
  position: absolute;
} */

.chart {
  cursor: pointer;
  /* border:1px solid black; */
  width:100%;
  padding:1rem;
  margin-bottom:1rem;
}


#zoom1{
height:100%;
margin: 5rem;
}

#zoom1 img{
/* display: inline-block; */
/* border: 1px solid black; */
width:100%;
height:auto;
margin-top:2rem;;
}

#zoom2{
height:100%;
margin:5rem;
}

#zoom2 img{
/* display: inline-block; */
/* border: 1px solid black; */
width:100%;
height:auto;
margin-top:2rem;
}

#atlas{
  height:100%;
  margin:5rem;
}

#atlas h2{
font-size:1.5rem;
color:#ff6346;
}

#atlas p{
color:#ff6346;
}



#legend > * {
  font-size: 2rem;
}

#legend > * {
  font-size: 1rem;
}

#legend p, #legend h1 {
  margin: 0;
  font-family:"HK Grotesk"
}

#legend p {
  display: inline-block;
  margin-right: 1rem;
}

.nc::before {
  content: "";
  display: inline-block;
  width: 1rem;
  height: 0.6rem;
  margin-right: 0.5rem;
  background: #00095E;
}


.dash::before {
  content: "";
  display: inline-block;
  width: 1rem;
  height: 0.6rem;
  margin-right: 0.5rem;
  border:none;
  border-bottom:2px dotted black;
}


.na::before {
  content: "";
  display: inline-block;
  width: 1rem;
  height: 0.6rem;
  margin-right: 0.5rem;
  background: #0000ff;
}


.cc::before {
  content: "";
  display: inline-block;
  width: 1rem;
  height: 0.6rem;
  margin-right: 0.5rem;
  background: #7F0000;
}

.ca::before {
  content: "";
  display: inline-block;
  width: 1rem;
  height: 0.6rem;
  margin-right: 0.5rem;
  background: #ff0000;
}



.area {
fill: steelblue;
clip-path: url(#clip);
}

.zoom {
cursor: move;
fill: none;
pointer-events: all;
}

.x.axis .domain {

}


/*bottom bar/*/
.bottom-bar {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 5vh;
    transition: bottom 0.35s cubic-bezier(.11,.31,.37,1);
/*break*/

@media screen and (min-width: 768px) {

}
@media screen and (min-width: 1024px) {

}
@media screen and (min-width: 1200px) {
  h1{
    font-size:4rem;
    font-style: italic;
  }
  h2{
    font-size:2rem;
    font-weight: 700;
  }

p{
   font-size: 2.5rem;
  }
}
